<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array><string>{{INSTALL_DIR}}/scripts/service/run-vault.sh</string></array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ARELOS_CONFIG_PATH</key><string>{{ROOT_DIR}}/config.json</string>
  </dict>
  <key>WorkingDirectory</key><string>{{INSTALL_DIR}}</string>
  <key>StandardOutPath</key><string>{{ROOT_DIR}}/logs/service/vault.log</string>
  <key>StandardErrorPath</key><string>{{ROOT_DIR}}/logs/service/vault.log</string>
</dict>
</plist>
